body{
  background-image:url('Images/homepage.jpg');
}

#left a{
  text-decoration: none;
  color:#ffffff;
  font-family:'Grenze Gotisch','Apple Chancery', cursive ;
  font-size: 40px;
  margin:10px;
}

#left a:hover{
  color:#000000;
}

#humanVScomputer, #gameType{
  border-radius: 20px;
  padding:10px 20px 10px 20px;
  font-family: 'Grenze Gotisch', 'Comic Sans', cursive;
  font-size: 25px;
  background-color:#000000;
  color:#ffffff; 
  margin-right:50px;
  margin-top:50px;
}

#humanVScomputer{
  margin-left:20px;
}

#humanVScomputer:hover,#gameType:hover{
  background-color: #ffffff;
  color:#000000;
}


